body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/511fdf8c-ab03-42f4-9b40-e77ce9ae1a45/da8zi9a-35e8511f-7faf-48f8-8209-e0d6447b4a59.png/v1/fill/w_1024,h_576,q_80,strp/the_binding_of_isaac_wallpaper_negative__by_jeffyhyena_da8zi9a-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvNTExZmRmOGMtYWIwMy00MmY0LTliNDAtZTc3Y2U5YWUxYTQ1XC9kYTh6aTlhLTM1ZTg1MTFmLTdmYWYtNDhmOC04MjA5LWUwZDY0NDdiNGE1OS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.g-dnUb0CmPIS-ilakFKKe0oARctE4R7tucieqPZceHk);
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: blue;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor: pointer;
}